// DSFR Variables
$color-blue-france: #000091;
$color-blue-france-sun: #1212ff;
$color-red-marianne: #e1000f;
$color-grey: #3a3a3a;
$color-grey-light: #e5e5e5;
$color-white: #ffffff;

$font-family: "Marianne", Arial, sans-serif;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;
